body{
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	user-select: none;
}

button{
	border: 3px solid #999;
	border-radius: 1rem;
	box-shadow: 3px 3px #666;
	color: #555;
	display: block;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	margin: 0 auto;
	outline: none;
	font-style: italic;
}

button:hover{
	box-shadow: 1px 1px #666;
	color: #222;
	padding: 3px 0 0 3px;
}

footer a{
	color: #999;
	text-decoration: none;	
}

footer a:hover{
	color: #555;
}

h1{
	color: #555;
	font-size: 2.5rem;
	font-weight: 300;
	margin-bottom: 2rem;
}

.btnLarge{
	font-size: 1.4rem;
	height: 5rem;
	margin-bottom: 2rem;
	width: 12rem;
}

.btnMiddle{
	font-size: 1.2rem; 
	height: 4rem;
	margin-bottom: 2rem;
	width: 9rem;
}

.btnSmall{
	font-size: 1.1rem; 
	margin-bottom: 2rem;
	width: 6rem;
}

.container{
	margin: 0 auto;
	text-align: center;
	width: 90%;
	/*font-style: italic;*/
}

@media only screen and (min-width: 480px);
