*{
	font-family: Helvetica;
	font-weight: 100;
	font-style: italic;	
}

h1{
	font-size: 2.5rem;
	color: #555;
}

button{
	border: 3px solid #999;
	border-radius: 1rem;
	box-shadow: 3px 3px #666;
	display: block;
	margin: 5rem auto 0;
	outline: none;
}

button:hover{
	box-shadow: 1px 1px #666;
	padding: 3px 0 0 3px;
}

footer{
	padding-top: 10rem;
}

footer a{
	color: #555;
	text-decoration: none;
}

.btnMain{
	font-size: 1.4rem;
	height: 5rem;
	width: 12rem;
}

.btnSecondary{
	display: inline-block;
	font-size: 1.1rem; 
	margin: 5rem 1.5rem 0;
	width: 6rem;
}

.container{
	margin: 0 auto;
	text-align: center;
	width: 80%;
}

.shower{
	display: block;
	font-size: 1.1rem; 
	width: 9rem;
	margin-top: 7rem;
}
